@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 171 14% 95%;
		--foreground: 171 5% 0%;
		--card: 171 14% 90%;
		--card-foreground: 171 5% 10%;
		--popover: 171 14% 95%;
		--popover-foreground: 171 95% 0%;
		--primary: 171 100% 38%;
		--primary-foreground: 0 0% 100%;
		--secondary: 171 14% 70%;
		--secondary-foreground: 0 0% 0%;
		--secondary-background: 171 14% 70%;
		--muted: 133 14% 85%;
		--muted-foreground: 171 5% 35%;
		--accent: 133 14% 80%;
		--accent-foreground: 171 5% 10%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 171 5% 90%;
		--border: 171 20% 50%;
		--input: 171 20% 18%;
		--ring: 171 100% 38%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 171 14% 5%;
		--foreground: 171 5% 90%;
		--card: 171 14% 0%;
		--card-foreground: 171 5% 90%;
		--popover: 171 14% 5%;
		--popover-foreground: 171 5% 90%;
		--primary: 171 100% 38%;
		--primary-foreground: 0 0% 100%;
		--secondary: 171 14% 10%;
		--secondary-foreground: 0 0% 100%;
		--secondary-background: 171 14% 10%;
		--muted: 133 14% 15%;
		--muted-foreground: 171 5% 60%;
		--accent: 133 14% 15%;
		--accent-foreground: 171 5% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 171 5% 90%;
		--border: 171 20% 18%;
		--input: 171 20% 18%;
		--ring: 171 100% 38%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.poppins-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}
