@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: center;
  height: 100vh;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  @apply bg-gray-900;
}

a {
  @apply text-blue-500 transition-all hover:text-blue-400 hover:underline;
}

h1,
h2,
h3 {
  @apply text-gray-300;
}

h1 {
  @apply text-9xl;
}

h2,
h3 {
  @apply text-6xl;
}

li img {
  max-width: 62px;
}

p {
  @apply text-2xl text-gray-300;
}

.swiper-slide {
  border-radius: 25px;
  border: 3px solid white;
  background-color: black;
}

.swiper-slide:nth-child(even) {
  background-color: white;
  border: 3px solid black;
}
