@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: end;
  height: 100vh;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  @apply bg-gray-900;
}

a {
  @apply text-blue-500 transition-all hover:text-blue-400 hover:underline;
}

h1,
h2,
h3 {
  @apply text-gray-300;
}

h1 {
  @apply text-9xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-5xl;
}
